<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{title}} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./js/index.js">
  <script src="./js/jquery-3.6.4.min.js"></script>
</head>


<body>

  {{#if messageSuccess}}
  <div class="position-absolute top-0 end-0" style="z-index: 1000; margin: 85px 48px" id="success-alert">
    <div class="col-lg-10 mx-auto mb-3 w-auto">
      <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2 mr-3" width="24" height="24" role="img" aria-label="Warning:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div> {{ messageSuccess }} </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="Form  px-5">
    <div class="container p-5">
      <div class="p-5">
        <div class="row">
          <div class="col-lg-6 px-5 pt-4">
            <img src="./img/logo.png" class="img-logo mb-5 d-flex justify-content-center mx-auto">
            <form method="post">
              <div class="form-row">
                <div class="col-lg-10 mx-auto">
                  <input id="username" type="text" name="username" class="form-control" placeholder="Tên đăng nhập"
                    value={{ username }}>
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-10 mx-auto mt-3">
                  <input id="password" type="password" name="password" class="form-control" placeholder="Mật khẩu"
                    value={{ password }}>
                  <div class="eye  eye-user">
                    <i class="far fa-eye"></i>
                  </div>
                </div>
              </div>

              {{!-- Flash message --}}
              {{#if messageFailure}}
              <div class="form-row" id="error-alert">
                <div class="col-lg-10 mx-auto mb-3">
                  <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2 mr-3" width="24" height="24" role="img" aria-label="Warning:">
                      <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div> {{ messageFailure }} </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
              </div>
              {{/if}}

              <div class="form-row ">
                <div class="col-lg-10 mx-auto mt-3">
                  <button name="submit" class="btn btn btn-block w-100" value="submit" type="button">Đăng nhập</button>
                </div>
              </div>
              <p class="text-end me-5 mt-3"><a href="#">Quên mật khẩu?</a></p>
              <p class="text text-center mt-2">Bạn chưa có tài khoản? <a href="#">Đăng ký ngay</a></p>
            </form>
          </div>
          <div class="col-lg-6 p-0">
            <img src="./img/DEP.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>


  <script>
    $(document).ready(function () {
      $('.eye').click(function () {
        $(this).toggleClass('open');
        $(this).children('i').toggleClass('fa-eye-slash fa-eye');
        if ($(this).hasClass('open')) {
          $(this).prev().attr('type', 'text');
        } else {
          $(this).prev().attr('type', 'password');
        }
      });

      $('#success-alert').slideDown(function () {
        $('#success-alert').fadeIn(300).delay(3000).fadeOut(400);
      });

      $('#error-alert').slideDown(function () {
        $('#error-alert').fadeIn(300).delay(3000).fadeOut(400);
      });

    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

</body>

</html>