<div class="container-xl">
    <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <a class="btn shadow p-3 mb-4 bg-body rounded" href="#">
                <img class="img-flud" style="max-height: 26px;" src="./img/icons8-user-64.png">
            </a>
            <div class="px-4">
                <h5>Quản lý thông tin khách hàng</h5>
                <p class="text-muted">View, create, update, delete and manage</p>
            </div>
        </div>
       <div class="col-sm-6 d-flex align-items-center justify-content-end">
            <a href="#" class="btn btn-primary d-flex align-items-center rounded mx-1">
                <i class="material-icons me-2">&#xE24D;</i><span>Xuất file Excel</span>
            </a>
            {{!-- <a href="#" class="btn btn-primary d-flex align-items-center rounded mx-1">
                <i class="material-icons me-2">&#xE147;</i><span>Thêm mới</span>
            </a> --}}
        </div>
    </div>


    <div class="table-responsive shadow rounded">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Danh sách <b>khách hàng</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tài khoản<i class="fa fa-sort"></i></th>
                        <th>Họ và tên <i class="fa fa-sort"></i></th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại<i class="fa fa-sort"></i></th>
                        <th>Giới tính </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td>{{no1 @index }}</td>
                        <td>{{ username }}</td>
                        <td>{{ fullname }}</td>
                        <td>{{ address }}</td>
                        <td>{{ phone }}</td>
                        <td>{{ gender }}</td>
                        <td>
                            <a href="{{ username }}" class="view" title="View" data-toggle="tooltip"><i
                                    class="material-icons">&#xE417;</i></a>
                            <a href="update/{{ username }}" class="edit" title="Edit" data-toggle="tooltip"><i
                                    class="material-icons">&#xE254;</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
                                    class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>